{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Delete Mango Export</h2>
        <p>Are you sure you want to delete the mango export "{{ mango.variety }}" with Order ID {{ mango.order_id }}?</p>
        
        <form method="POST">
            {% csrf_token %}
            <div class="form-actions">
                <button type="submit" class="btn-delete">Confirm Delete</button>
                <a href="{% url 'mango_list' %}" class="btn-cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}